.md-toolbar:not(.md-menu-toolbar) {
    background-color: black !important;
}

.rectangle {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid blue;
}

.rectangle:hover {
    background-color: rgba(0, 0, 200, 0.5);
    border: 1px dotted black;
    cursor: pointer;
}

.point {
    color: red;
}

.point:hover {
    background-color: rgba(0, 0, 200, 0.5);
    cursor: pointer;
}

.arrow {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid blue;
}

.arrow:hover {
    background-color: rgba(0, 0, 200, 0.5);
    border: 1px dotted black;
    cursor: pointer;
}

gdx-anno-page {
    position: relative;
    margin: 0 auto;
    align-items: center;
}

.thread-container .thread.selected md-card
{
    background-color: #f0f0f0;
}

.thread-container .thread md-card.reply
{
    margin-left: 21px;
}

.thread-container .thread md-card md-card-header
{
    padding-bottom: 0;
}

.thread-container .thread md-card md-card-content
{
    padding-bottom: 0;
}

.thread-container .thread md-card.comment md-card-content md-input-container,
.thread-container .thread md-card.reply md-card-content md-input-container
{
    margin: 0;
    width: 100%
}

.thread-container .thread md-card.comment md-card-content md-input-container .md-errors-spacer,
.thread-container .thread md-card.reply md-card-content md-input-container .md-errors-spacer
{
    display: none;
}

.thread-container .thread md-card md-card-actions
{
    margin-top: 0
}

.toolbox-panel-container {
    pointer-events: auto;
}


